doctype html
html(lang="en")
  head
    title asdfsdf
    // build:css /assets/app.css
    link(rel="stylesheet", href="/assets/app.css")
    link(rel="stylesheet", href="/../bower_components/leaflet/dist/leaflet.css")
    // endbuild

  body
    block content

    // build:js /assets/app.js
    script(src="/../bower_components/leaflet/dist/leaflet.js")
    script(src="/assets/app.js")
    // endbuild
